<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>게시글♥</title>
	<style>
		h1 {
          color: pink;
        }
        .image-grid img {
          max-width: 100%;
          height: auto;
        }
		.center-table {
         margin: auto;
        }
	</style>
</head>
<body>
<div data-th-replace="header :: header"></div>
<br>
<h1 style='margin:5px; text-align:center'>☆My diary☆</h1>
<div style='margin: 5px auto; text-align: center; margin-right: -300px;'>
<br>
<a data-th-href="@{/board/form}">새 글</a>
</div>

<table class="center-table">

<thead>
  <tr><th>번호</th> <th>제목</th> <th>작성자</th> <th>조회수</th> <th>등록일</th></tr>
</thead>

<tbody>

	<tr data-th-each="board : ${list}" style='margin:5px; text-align:center'>
		<th:block th:if="${board.mno.no == session.loginUser.no}">
			<td data-th-text="${board.no}">100</td>
			<td>
				<a data-th-href="@{'/board/detail/' + ${board.no}}"
				   data-th-text="${board.title} ?: '제목없음'">게시글 제목</a>
			</td>
			<td data-th-text="${board.mno.name}">홍길동</td>
			<td data-th-text="${board.v_count}">27</td>
			<td data-th-text="${#dates.format(board.w_date, 'yyyy-MM-dd')}">2021-09-14</td>
		</th:block>
	</tr>



	</tbody>
    </table>
    <a href='/'>메인</a>

<div data-th-replace="footer :: footer"></div>

</body>
</html>
  





