<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My-Diary♥</title>
<style>
  h1 {
    color: pink;
  }
  .image-grid img {
    max-width: 100%;
    height: auto;
  }
</style>
</head>
<body>
<div data-th-replace="header :: header"></div>
<h1 style='text-align:center' >My-Diary♥</h1>
<div style="text-align:center;">
    <a href='/board/form'>오늘의 기분을 공유하기</a>
<div class="image-grid">


        <p>게시판 or 다이어리 or 회원 사진 예정</p>

</div>
</div>
<br>
<div data-th-replace="footer :: footer"></div>

</body>

</html>
